<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- <link rel="stylesheet" href="../static/css/style.css"> -->
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
  <div class="header">
    <h1>Food and Wellbeing Synergy</h1>
    <ul>
      <li><a href="#">Signup</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Products</a></li>
      <li><a href="#">Pricing</a></li>
      <li><a href="#">Support</a></li>
    </ul>
  </div>
  
  <section class="hero">
    <div class="container">
      <h2>Add Products</h2>
      <h3>Get Healthy and nourished food suggestion</h3>
      <h1>No More Searching</h1>
      <p>Get everything in one place , from healthy recipe suggestions to step by step to create it</p>
      <a href="#" class="button">Enter Your Details</a>
    </div>
  </section>


<center>

  <section class="layout">
   

    <!-- first section  -->
   
   
    <div class="sections" style="display: flex; flex-direction: row;  justify-content: space-around;">
      <div  class="left"> 
        <h2>Add Products Get Recommanded </h2>
        <p>
          <ol id="list">
            <li>
              Add  the product you want to add 
            </li>
            <li>
              Wait for the ML Modern to  give a recommendation based on your input.
            </li>
            <li>
              ML model will suggest you  a dish that is best  for your current health status . 
            </li>
          </ol>
        </p>
        <button class="buttonfunction"><a href="/page1" target="_blank">try it now</a></button>
      </div>
      <img src="../static/image/img1.jpg" class="right" alt="">
    </i></div>
   
  </section>

  <!-- second section  -->
   
    <div class="sections" style="display: flex; flex-direction: row-reverse;  justify-content: space-around;">
      <div  class="left"> 
        <h2>Scan Product get dish recommendation</h2>
        <p>
          <ol id="list">
            <li>
              Scan the QR of the Products 
            </li>
            <li>
              Wait for the ML Modern to  give a recommendation based on your input.
            </li>
            <li>
              ML model will suggest you  a dish that is best  for your current health status . 
            </li>
          </ol>
        </p>
         <button class="buttonfunction"><a href="/page2" target="_blank">try it now</a></button>
      </div>
      <img src="../static/image/img4.png" class="right" alt="">
    </i></div>
   
  </section>

  <!-- third section  -->
   
    <div class="sections" style="display: flex; flex-direction: row;  justify-content: space-around;">
      <div  class="left"> 
        <h2>Add Products Get Recommanded </h2>
        <p>
          <ol id="list">
            <li>
              Add  the product you want to add 
            </li>
            <li>
              Wait for the ML Modern to  give a recommendation based on your input.
            </li>
            <li>
              ML model will suggest you  a dish that is best  for your current health status . 
            </li>
          </ol>
        </p>
         <button class="buttonfunction"><a href="/page3" target="_blank">try it now</a></button>
      </div>
      <img src="../static/image/img1.jpg" class="right" alt="">
    </i></div>
   
  </section>


   

</center>
  
  <footer>
    <center>
    <p>All Right Reserved @2023</p>
  </center>
  </footer>


  <script src="static/js/script.js"></script>
</body>
</html>