<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="header">
    <h1>Food and Wellbeing Synergy</h1>
    <ul>
      <li><a href="#">Signup</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Products</a></li>
      <li><a href="#">Pricing</a></li>
      <li><a href="#">Support</a></li>
    </ul>
  </div>
  
  <section class="hero">
    <div class="container">
      <h2>Add Products</h2>
      <h3>Get Healthy and nourished food suggestion</h3>
      <h1>No More Searching</h1>
      <p>Get everything in one place , from healthy recipe suggestions to step by step to create it</p>
      <a href="#" class="button">View Courses</a>
    </div>
  </section>
  
  <section class="stats">
    <div class="container">
      <div class="stat">
        <h2>60,000+</h2>
        <h3>Happy Students</h3>
      </div>
      <div class="stat">
        <h2>6 K+</h2>
        <h3>Followers on Twitter</h3>
        <a href="#" class="button small">Watch Video Live →</a>
      </div>
      <div class="stat">
        <h2>135 K+</h2>
        <h3>Followers on Instagram</h3>
      </div>
      <div class="stat">
        <h2>522 K+</h2>
        <h3>Followers on Linkedin</h3>
      </div>
    </div>
  </section>
  
  <section class="cta">
    <div class="container">
      <h1>Start Learning</h1>
      <a href="#" class="button large">Sign Up</a>
    </div>
  </section>
</body>
</html>